.main-content2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  overflow-y: auto;
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 3rem;
}

.profile-container {
  height: auto;
  padding: 20px;
  max-width: 100%;
  border-radius: 10px;
  /* Ensures the corners are rounded */
  background-color: #d3d3d3;
  border: 1px solid rgb(172, 172, 172);
  /* Defines a solid black border with width */
}

.adress-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  max-width: 400px;
}

.adress-bar input[type="text"] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.delivered-orders-box {
  display: flex;
  background-color: #bdbdbd;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;
}

.orders-list {
  max-height: 400px;
  height: auto;
  overflow-y: auto;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orders-list p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.order-card {
  background-color: white;
  border: 1px solid #919191;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.order-card:hover {
  background-color: #f0f0f0;
}

.order-card h3 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: black
}

.order-card p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #161616;
}

.order-card p:last-child {
  margin-bottom: 0;
}

.order-card .order-info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.order-card .order-info div {
  flex: 1;
}

.order-card .order-info span {
  font-weight: bold;
}

h2 {
  margin-bottom: 20px;
}

.profile-container {
  padding: 20px;
}

.disabled-input:disabled {
  color: black;
  font-weight: bold;
  opacity: 1;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

input:disabled {
  color: rgb(56, 56, 56);
  font-weight: bold;
  background-color: #f0f0f0;
  opacity: 1;
}

.save-button {
  background-color: #2c2c2c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 50px;
}